

/*  AspNetPager分页样式的使用 

    属性设置：CssClass="anpager" CurrentPageButtonClass="cpb"
    <webdiyer:AspNetPager CssClass="paginator" CurrentPageButtonClass="cpb" 
    ID="AspNetPager2" runat="server" AlwaysShow="True" FirstPageText="首页"
    Font-Size="12px" LastPageText="尾页" NextPageText="下一页" PageSize="15" PrevPageText="上一页"
    ShowBoxThreshold="11" TextAfterInputBox="" TextBeforeInputBox="" UrlPaging="True">
    </webdiyer:AspNetPager>
*/
/* 
.anpager .cpb
{
    background: #1F3A87 none repeat scroll 0 0;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-weight: bold;
    margin: 5px 4px 0 0;
    padding: 4px 5px 0;
}
.anpager a
{
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CCCCCC;
    color: #1F3A87;
    margin: 5px 4px 0 0;
    padding: 4px 5px 0;
    text-decoration: none;
}
.anpager a:hover
{
    background: #1F3A87 none repeat scroll 0 0;
    border: 1px solid #1F3A87;
    color: #FFFFFF;
}
*/

/* 网易风格： 
.anpager .cpb
{
    background: #1F3A87 none repeat scroll 0 0;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-weight: bold;
    margin: 5px 4px 0 0;
    padding: 4px 5px 0;
}
.anpager a
{
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CCCCCC;
    color: #1F3A87;
    margin: 5px 4px 0 0;
    padding: 4px 5px 0;
    text-decoration: none;
}
.anpager a:hover
{
    background: #1F3A87 none repeat scroll 0 0;
    border: 1px solid #1F3A87;
    color: #FFFFFF;
}
*/
/* 拍拍网风格： */
.anpager
{
    font: 11px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 0;
    margin: 0px;
}
.anpager a
{
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
    margin-right: 2px;
}
.anpager a:visited
{
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
}
.anpager .cpb
{
    padding: 1px 6px;
    font-weight: bold;
    font-size: 13px;
    border: none;
}
.anpager a:hover
{
    color: #fff;
    background: #ffa501;
    border-color: #ffa501;
    text-decoration: none;
}

/* 迅雷风格：

.anpager { color: #999; }
.anpager a, .anpager .cpb { text-decoration:none;float: left; padding: 0 5px; border: 1px solid #ddd;background: #ffff;margin:0 2px; font-size:11px; color:#000;}
.anpager a:hover { background-color: #E61636; color:#fff;border:1px solid #E61636; text-decoration:none;}
.anpager .cpb { font-weight: bold; color: #fff; background: #E61636; border:1px solid #E61636;}
