/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    background-color: #202020;
}

    .navbar-inverse .navbar-nav li a {
        color: #FFF;
    }

.navbar-nav li a {
    display: block;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #FF0000;
    color: #FFF;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #202020;
    color: #fff;
}

    .navbar-nav > li > .dropdown-menu a {
        background-color: #202020;
        color: #fff;
    }

.navbar-inverse .navbar-nav li a:hover {
    background-color: #FF0000;
    color: #FFF;
}

.navbar-inverse .navbar-nav .active a {
    background-color: #FF0000;
    color: #FFF;
}

    .navbar-inverse .navbar-nav .active a:hover {
        color: #FFF;
    }

.navbar-inverse .navbar-nav .active .dropdown-menu a {
    background-color: #202020;
    color: #FFF;
}

    .navbar-inverse .navbar-nav .active .dropdown-menu a:hover {
        background-color: #FF0000;
        color: #FFF;
    }

.navbar-inverse .navbar-nav .active a:focus {
    color: #FFF;
}

.subnav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: auto;
}

    .subnav ul li {
        float: left;
    }

.subnav li a {
    color: #434343;
    display: block;
    width: 70px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.subnav a:hover {
    background-color: #FF0000;
    color: #FFF;
}

.subnav a:focus {
    background-color: #FF0000;
    color: #FFF;
}

.banner .d1 {
    width: 100%;
    height: 440px;
    display: block;
    left: 0px;
    top: 0px;
}


.navstack {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #eee;
}

    .navstack:hover {
        background-color: #ff3a3a;
    }

    .navstack a {
        font-size: 16px;
        color: #434343;
        text-decoration: none;
    }

    .navstack:hover a {
        color: #FFF;
    }

    .navstack .icon {
        font-size: 40px;
        line-height: 60px;
        margin: 20px 0px 0px 0px;
        color: #333;
        -webkit-transition: font-size 0.25s ease-out 0s;
        -moz-transition: font-size 0.25s ease-out 0s;
        transition: font-size 0.25s ease-out 0s;
    }

    .navstack:hover .icon {
        font-size: 50px;
        line-height: 60px;
        margin: 10px 0;
        color: #FFF;
        -webkit-transition: font-size 0.25s ease-out 0s;
        -moz-transition: font-size 0.25s ease-out 0s;
        transition: font-size 0.25s ease-out 0s;
    }


#fd {
    background: #444;
    padding-top: 20px;
    color: #909090;
    overflow: hidden;
}

    #fd p {
        text-align: center;
        height: 24px;
        line-height: 24px;
    }

        #fd p a {
            color: #909090;
        }

    #fd .line {
        width: 100%;
        border-top: 1px solid #373737;
        border-bottom: 1px solid #4e4e4e;
    }

    #fd .fd_nv a {
        display: inline-block;
        margin: 0 15px;
        color: #909090;
    }

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.newsul {
    padding-left: 0px;
    margin-top: 10px;
    display: block
}

    .newsul li {
        line-height: 30px;
    }

        .newsul li a {
            color: #434343;
            text-decoration: none;
        }

            .newsul li a:hover {
                color: #FF0000;
                text-decoration: none;
            }

        .newsul li span {
            float: right;
            color: #909090;
        }

.cscol-xs-1-5, .cscol-sm-1-5, .cscol-md-1-5, .cscol-lg-1-5 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-top: 5px;
}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 768px) {
    .cscol-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .cscol-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .cscol-lg-1-5 {
        width: 20%;
        float: left;
    }
}

.moreright {
    display: inline;
    float: right;
    padding-top: 10px;
}

    .moreright a {
        color: #FFF;
    }

        .moreright a:hover {
            /*color: #FF0000;*/
            text-decoration: none;
            font-weight:bold;
        }

.linklist {
    margin-top: 10px;
    list-style: none;
    width: auto;
}

    .linklist ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: auto;
    }

        .linklist ul li {
            float: left;
        }

    .linklist li a {
        color: #434343;
        display: block;
        padding: 6px;
    }

        .linklist li a:hover {
            color: #FF0000;
        }



.sublinklist {
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: none;
    width: auto;
}

    .sublinklist ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: auto;
    }

        .sublinklist ul li {
            float: left;
        }

    .sublinklist li a {
        color: #434343;
        display: block;
        padding: 3px 15px;
    }

        .sublinklist li a:hover {
            color: #FFF;
            background-color: #FF0000;
        }

    .sublinklist li .active {
        color: #FFF;
        background-color: #FF0000;
    }

.leftnav {
}

    .leftnav .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .leftnav .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .leftnav.active, .leftnav.active:hover, .leftnav.active:focus {
        background-color: #FF0000;
        border-color: #FF0000;
    }

.web-content {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 27px;
    font-size: 14px;
    text-indent: 2em;
    clear: both;
}

a :hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.paginator {
    font: 11px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 0;
    margin: 0px;
}

    .paginator a {
        padding: 5px 10px;
        border: solid 1px #ddd;
        background: #fff;
        text-decoration: none;
        margin-right: 2px;
        color: #434343;
    }

        .paginator a:visited {
            padding: 5px 10px;
            border: solid 1px #ddd;
            background: #fff;
            text-decoration: none;
        }

    .paginator .cpb {
        padding: 5px 10px;
        font-weight: bold;
        font-size: 14px;
        border: none
    }

    .paginator a:hover {
        color: #fff;
        background: #ffa501;
        border-color: #ffa501;
        text-decoration: none;
    }



/*悬浮链接*/
.suspension {
    position: fixed;
    z-index: 55;
    right: 0;
    bottom: 80px;
    width: 70px;
    height: 240px;
}

.suspension-box {
    position: relative;
    float: right;
}

    .suspension-box .righttext {
        padding-left: 12px;
    }


.suspension .a {
    color: #FFF;
    display: block;
    width: 54px;
    height: 54px;
    background-color: #444444;
    /* margin-bottom: 4px;*/
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.suspension .icon {
    font-size: 32px;
    padding-left: 10px;
    color: #FFF;
    line-height: 32px;
}

.suspension .a.active,
.suspension .a:hover {
    background: #D90110;
}

.suspension .a .i {
    float: left;
    width: 54px;
    height: 54px;
    background-image: url(../images/side_icon.png);
    background-repeat: no-repeat;
}
/* .suspension .a-service .i{background-position:0 0;} */
.suspension .a-service .i {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 12px;
    background-image: url(../images/suspension-bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.suspension .a-service-phone .i {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 12px;
    background-image: url(../images/suspension-bg.png);
    background-repeat: no-repeat;
    background-position: -27px 0;
}

.suspension .a-qrcode .i {
    background-position: -44px 0;
}

.suspension .a-cart .i {
    background-position: -88px 0;
}

.suspension .a-top .i {
    background-position: -128px 0;
}

.suspension .a-top {
    background: #D2D3D6;
    display: none;
}

    .suspension .a-top:hover {
        background: #c0c1c3;
    }

.suspension .d {
    display: none;
    width: 223px;
    background: #fff;
    position: absolute;
    right: 67px;
    min-height: 90px;
    border: 1px solid #E0E1E5;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(161, 163, 175, 0.11);
}

    .suspension .d .arrow {
        position: absolute;
        width: 8px;
        height: 12px;
        background: url(../images/side_bg_arrow.png) no-repeat;
        right: -8px;
        top: 31px;
    }

.suspension .d-service {
    top: 0;
}

.suspension .d-service-phone {
    top: 34px;
}

.suspension .d-qrcode {
    top: 78px;
}

.suspension .d .inner-box {
    padding: 8px 22px 12px;
}

.suspension .d-service-item {
    border-bottom: 1px solid #eee;
    padding: 14px 0;
}

.suspension .d-service .d-service-item {
    border-bottom: none;
}

.suspension .d-service-item .circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    background: #F1F1F3;
    display: block;
    float: left;
}

.suspension .d-service-item .i-qq {
    width: 44px;
    height: 44px;
    background: url(../images/side_con_icon03.png) no-repeat center 15px;
    display: block;
    transition: all .2s;
    border-radius: 50%;
    overflow: hidden;
}

.suspension .d-service-item:hover .i-qq {
    background-position: center 3px;
}

.suspension .d-service-item .i-tel {
    width: 44px;
    height: 44px;
    background: url(../images/side_con_icon02.png) no-repeat center center;
    display: block;
}

.suspension .d-service-item h3 {
    float: left;
    width: 112px;
    line-height: 44px;
    font-size: 15px;
    margin-left: 12px;
}

.suspension .d-service-item .text {
    float: left;
    width: 112px;
    line-height: 22px;
    font-size: 15px;
    margin-left: 12px;
}

    .suspension .d-service-item .text .number {
        font-family: Arial,"Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    }

.suspension .d-service-intro {
    padding-top: 10px;
}

    .suspension .d-service-intro p {
        float: left;
        line-height: 27px;
        font-size: 12px;
        width: 50%;
        white-space: nowrap;
        color: #888;
    }

    .suspension .d-service-intro i {
        background: url(../images/side_con_icon01.png) no-repeat center center;
        height: 27px;
        width: 14px;
        margin-right: 5px;
        vertical-align: top;
        display: inline-block;
    }

.suspension .d-qrcode {
    text-align: center;
}

    .suspension .d-qrcode .inner-box {
        padding: 20px 0;
    }

    .suspension .d-qrcode p {
        font-size: 16px;
        color: #93959c;
    }

.navstacklink {
    color: #535456;
}

    .navstacklink:hover {
        color: #6CBA35;
        text-decoration: underline;
    }
