<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!--连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false-->
    <add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GitNowWork\code\workplace\App_Data\tfxk_qlxx.mdf;Integrated Security=True;Connect Timeout=30"/>
    <!--<add key="ConnectionString" value="server=sql.z150.vhostgo.com;database=cdqlxx;uid=cdqlxx;pwd=hjhj45445687"/>-->
    <!--<add key="ConnectionString" value="C7858DB550DCB5F33BFE9C0B40B68AEC179928A0BCD417E51B574F87BDB1FC3FD54C5470134E1231BC651140F4B8385D1BA75820E4A7BF484D120ECF91D36D8A06DE8FC850568AB9" />-->
    <!--8618B53C32BF8E0B6CD3BDFF59B9F24BE1C6D586A5915C8B6DC69A09ABB2DF60A4026BDE8E76B6FDE2BFCEA3FA8E06CB-->
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="TFXK.SQLServerDAL"/>
    <!--<add key="DAL" value="TFXK.OleDbDAL"/>-->
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value=""/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!--上传图片地址-->
    <add key="uploadpath" value="upLoads/"/>
    <!--邮件服务器地址-->
    <add key="smtpName" value="smtp.sina.com"/>
    <!--发件人邮箱地址-->
    <add key="mailFrom" value="wapianwang@sina.com"/>
    <!--发件人邮箱密码-->
    <add key="mailFromPwd" value="wapianwang888"/>
    <!--发件人名字-->
    <add key="fromUserName" value="青龙小学"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1"/>
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" fileEncoding="utf-8"/>-->
    <pages enableEventValidation="false" validateRequest="false"  viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <!--<sessionState mode='StateServer' stateConnectionString='tcpip=127.0.0.1:42424' sqlConnectionString='data source=127.0.0.1;Trusted_Connection=yes' cookieless='false' timeout='120'/>-->
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"  requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" >
      <error statusCode="404" redirect="/404.html" />
      <error statusCode="500" redirect="/500.html" />
    </customErrors>-->
    <authentication mode="Forms">
      <forms name="forums" loginUrl="~/admin/Login.aspx" defaultUrl="~/admin/MainPage/Default.aspx" protection="All" timeout="3600" slidingExpiration="true"/>
    </authentication>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <!--<add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />-->
    </httpModules>
    <httpHandlers>
      <add verb="*" path="/uploads/*.jpg" type="CoverImg"/>
      <add verb="*" path="sguploads/*.jpg" type="CoverImg2"/>
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler"/>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v9.2, Version=9.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
  <location path="shuguo">
    <system.web>

      <httpHandlers>
        <add verb="*" path="/uploads/*.jpg" type="CoverImg2"/>
      </httpHandlers>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000"/>
      </requestFiltering>
    </security>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v9.2, Version=9.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="App_Data\Web.Log.html"/>
      <param name="datePattern" value="MM-dd HH:mm"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="_LogData\Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.codedom/>
</configuration>